<div class="slider">
  <div class="slider-title">
    <h1>Chào mừng bạn đến với website của chúng tôi</h1>
    <div>Nếu bạn có tài khoản hay đăng nhập tại:
      <a href="./signInPage">Trang đăng nhập</a></div>
    <div>Nếu chưa có tài khoản! Vui lòng đăng ký để vào trang web tại:
      <a href="./signUpPage">Trang đăng ký</a>
    </div>
  </div>
</div>