<div class="SignIn">
  <h1>Login</h1>
  <form action="" id="form">
    <div class="form-control">
      <input id="userName" type="text" placeholder="User Name" />
      <span></span>
      <small></small>
    </div>
    <div class="form-control">
      <input id="password" type="password" placeholder="Password" />
      <span></span>
      <small></small>
    </div>
    <button type="submit" class="btn-submit">Submit form</button>
    <div class="signup-link">
      if you don't have an account
      <a href="./signUpPage">Sign Up!</a>
    </div>
  </form>
</div>