<div id="header">
  <div class="logo">
    <a href="#"></a>
  </div>
  <div class="nav">
    <ul>
      <li><a href="/">
          Home
        </a>
      </li>
      <li><a href="./user/quang">
          Thông tin cá nhân
        </a>
      </li>
      <li><a href="#">
          Service
        </a>
      </li>
      <li><a href="#">
          Contact
        </a>
      </li>
    </ul>
  </div>
  <div class="search">
    <input type="text" placeholder="search..." />
    <div class="searchBtn">
      <a href="#">Search</a>
    </div>
  </div>
</div>